<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">#342</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
<!--       <li class="nav-item active">
        <a class="nav-link" href="/home">Placar <span class="sr-only">(current)</span></a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" routerLink="/home"><img src="assets/icon-bar-brazil-map.png">Estados</a>
      </li>
<!--       <li class="nav-item">
        <a class="nav-link" href="/home">Quema apoia?</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/home">Achou um erro?</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/home">Contato</a>
      </li> -->
    </ul>
  </div>
</nav>

<div class="header">
  <img width="300" alt="Bota Pressão Logo" src="assets/logo342.svg">
</div>

<div>
  <router-outlet></router-outlet>
</div>

<div class="container-fluid footer center">
  <h5 class="center white-color">#342agorachega</h5>
</div>