.center {
  text-align: center;
}

.link-black { color: black; } /* CSS link color (red) */
.link-black:hover { color: black; } /* CSS link hover (green) */

.left {
  text-align: left;
}

.link { color: yellow; } /* CSS link color (red) */
.link:hover { color: yellow; } /* CSS link hover (green) */

.avatar {
  border-radius: 50%;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.footer {
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.videos {
  background-color: black;
  color: white;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.blue-color {
  color: #80bfff;
}

.blue-background {
  background-color: #80bfff;
}

.red-color {
  color: #ff0066;
}

.red-background {
  background-color: #ff0066;
}

.orange-color {
  color: #ff751a;
}

.orange-background {
  background-color: #ff751a;
}

.black-color {
  background-color: black;
}

.white-color {
  color: white;
}

.statement-1 {
  margin-top: 5px;
  margin-bottom: 0px
}
.statement-2 {
  margin-top: 5px;
  margin-bottom: 0px
}