<div class="m-1 w-50 mx-auto center">
  <p class="center">Um embaixador brasileiro não pode ser definido por <strong>critério pessoal do presidente!</strong></p>

  <p class="center">Precisamos de alguém preparado, que dialogue com a Câmara americana controlada pelos democratas, que tenha pensamento estratégico e cuide da população brasileira nos EUA!</p>

  <p class="center"><strong>Chega de nepotismo! Senadores, queremos que o Itamaraty seja respeitado!</strong></p>
</div>

<div class="card-group container">

  <div class="card center">
    <div class="card-body black-color">
      <h1 class="display-1 red-color">64</h1>
      <h5 class="card-title  white-color"><strong>{{'são contra'| uppercase}}</strong></h5>
      <button type="button" class="btn btn-warning active">
        {{'faça pressão'|uppercase}}
        <br>
        {{'mande um recado'|uppercase}}
      </button>
    </div>
    <div class="card-body red-background">
      <div *ngFor="let senator of contra.senators">
        <div class="row">
          <div class="col-3 mb-2">
            <img class="avatar" [src]="senator.picture" width="50">
          </div>
          <div class="col">
            <p class="left mt-3">{{senator.name|uppercase}}</p>
          </div>
        </div>
      </div>
      <a class="link" routerLink="">{{'ver todos'|uppercase}}</a>
    </div>
  </div>

  <div class="card center">
    <div class="card-body black-color">
      <h1 class="display-1 orange-color">291</h1>
      <h5 class="card-title  white-color"><strong>{{'estão indecisos'| uppercase}}</strong></h5>
      <button type="button" class="btn btn-warning active">
        {{'faça pressão'|uppercase}}
        <br>
        {{'mande um recado'|uppercase}}
      </button>
    </div>
    <div class="card-body orange-background">
      <div *ngFor="let senator of indecisos.senators">
        <div class="row">
          <div class="col-3 mb-2">
            <img class="avatar" [src]="senator.picture" width="50">
          </div>
          <div class="col">
            <p class="left mt-3">{{senator.name|uppercase}}</p>
          </div>
        </div>
      </div>
      <a class="link" routerLink="">{{'ver todos'|uppercase}}</a>
    </div>
  </div>

  <div class="card center">
    <div class="card-body black-color">
      <h1 class="display-1 blue-color">157</h1>
      <h5 class="card-title  white-color"><strong>{{'são a favor'| uppercase}}</strong></h5>
      <button type="button" class="btn btn-warning active">
        {{'mostre seu apoio'|uppercase}}
        <br>
        {{'mande um recado'|uppercase}}
      </button>
    </div>
    <div class="card-body blue-background">
      <div *ngFor="let senator of afavor.senators">
        <div class="row">
          <div class="col-3 mb-2">
            <img class="avatar" [src]="senator.picture" width="50">
          </div>
          <div class="col">
            <p class="left mt-3">{{senator.name|uppercase}}</p>
          </div>
        </div>
      </div>
      <a class="link" routerLink="">{{'ver todos'|uppercase}}</a>
    </div>
  </div>
</div>

<div class="container">
  <map></map>
</div>

<div class="container-fluid videos">
  <h3 class="center white-color">Acabou a pasciência. Queremos justiça!</h3>
</div>

<div class="footer center">
  <!-- <img width="300px" src="assets/xovampirao.png"> -->
  <p class="center statement-1">
    <strong>Compartilhe agora essa campanha nas suas redes</strong>
  </p>
  <p class="centerstatement-2">
    <strong>Vamos começar a limpar o Brasil!</strong>
  </p>

  <div>
<!--     <button type="button" class="btn btn-dark bmd-btn-fab bmd-btn-fab-sm m-1" (click)="onNavigate(politic.facebook)">
      <img src="assets/email.svg" width="25px">
    </button> -->
<!--     <button type="button" class="btn btn-dark bmd-btn-fab bmd-btn-fab-sm m-1" (click)="onNavigate(politic.twitter)">
      <img src="assets/facebook.svg" width="19px">
    </button> -->
<!--     <button type="button" class="btn btn-dark bmd-btn-fab bmd-btn-fab-sm m-1" (click)="onNavigate(politic.instagram)">
      <img src="assets/instagram.svg" width="25px">
    </button> -->
    <button type="button" class="btn btn-dark bmd-btn-fab bmd-btn-fab-sm m-1" (click)="onTwitt()">
      <img src="assets/twitter.svg" width="25px">
    </button>
  </div>
</div>