.center {
  text-align: center;
}

.footer {
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.videos {
  background-color: black;
  color: white;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.black-color {
  background-color: black;
}

.white-color {
  color: white;
}

.statement-1 {
  margin-top: 5px;
  margin-bottom: 0px
}
.statement-2 {
  margin-top: 5px;
  margin-bottom: 0px
}