<div class="container">
  <div class="center">
    <h1 class="center mt-5">{{state.state}}</h1>
    <button type="button" class="btn btn-primary btn-lg center" (click)="sendMessage()">Super Pressão</button>
  </div>

  <div  class="card-deck m-5">
      <div class="card" *ngFor="let senator of state.senators">

        <a [routerLink]="['/senator', senator.name, senator]">
          <img class="card-img-top" *ngIf="!senator.picture"src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22480%22%20height%3D%22600%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20259%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_16c92ffdd97%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A13pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_16c92ffdd97%22%3E%3Crect%20width%3D%22480%22%20height%3D%22600%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2296.25%22%20y%3D%2296%22%3E480x600%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="Senador {{senator.name}}">
          <img class="card-img-top" *ngIf="senator.picture" [src]="senator.picture" alt="Senador {{senator.name}}">
        </a>

        <div class="card-header black-color">
          <a [routerLink]="['/senator', senator.name,  senator]">
            <h5 class="card-title center white-color"><strong>{{senator.name}}</strong></h5>
          </a>
          <h5 class="card-title center white-color">{{senator.party}} - {{state.acronym}}</h5>
        </div>

        <div class="card-body">
          <div class="center">
            <icons [politic]="senator"></icons>
          </div>
        </div>
      </div>

  </div>

</div>

<div class="center space">
  <a href="/">Voltar para a home</a>
</div>


<!-- <div *ngFor="let senator of state.senators">
  <div>{{senator.period}}</div>
  <div>{{senator.phone}}</div>
</div>
 -->